*{
    /*todo: Fuente de la palabra INICIO*/
    font-family: 'poppins',sans-serif;
}
section{
    /*todo: Dimenciones de centrado del cuadro*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}
.form-box{
    /*todo: position: relative; */
    width: 400px;/*Dimenciones para el cuadro Central*/
    height: 450px;
    background: rgba(10, 86, 172, 0.863); /*Cambiar del fondo de Cuadrdo central */
    border: 2px solid rgb(0, 0, 0);/*Borde del cuadrado Central*/
    border-radius: 20px;/*Forma curva del cuadrado central*/
    display: flex;/*Central contenido del cuadrado central*/
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;/*Tamaño letra*/
    color: #ffffff;/*color palabra inicio*/
    text-align: center;/*centrado de letras*/
}
.inputbox{
    /*Dimenciones de usuario y contraseña*/
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #ffffff;/*lineas debajo de usuario y contraseña*/
}
.inputbox label{
    /*Subir el texto de usuario y contraseña*/
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #22b65f;
}
/*Mantener el texto arriba*/
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    height: 50px;
    background: transparent;/*Poner transparente donde se pone el usuario*/
    border: none;/*quitar bordes*/
    outline: none;/*quirar bordes al precionar*/
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #ffffff;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #22b65f;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}